.vscode/

*.aux
*.bcf
*.fdb_latexmk
*.log
*.synctex.gz
*.synctex(busy)
*.run.xml
*.fls
*.bbl
*.blg
*.out
*.markdown.lua
*.lof
*.lot
*.toc
*.xmpi
*.lua
*.xdv
*.*-SAVE-ERROR
*.glo
*.glsdefs
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
creationdate.timestamp

svg-inkscape/
_markdown_report

*.pdf